@{
    ViewData["Title"] = "Escolher e Assinar";
}

<h2>Escolher e Assinar</h2>

<div id="particles-js"></div>


<form method="post" enctype="multipart/form-data" asp-controller="ImportDocument" asp-action="ImportDocument">
    <div class="mb-3">
        <label for="jsonFile" class="form-label">Selecione o arquivo JSON gerado</label>
        <input type="file" id="jsonFile" name="jsonFile" class="form-control" accept=".json" />
    </div>
    <div class="mb-3">
        <label for="keyJsonFile" class="form-label">Selecione o arquivo JSON chave publica</label>
        <input type="file" id="keyJsonFilev" name="keyJsonFile" class="form-control" accept=".json" />
    </div>
    <button type="submit" class="btn btn-success mt-3">Carregar JSON</button>
</form>



@if (ViewBag.Template != null)
{
<hr />
<form method="post" asp-controller="ImportDocument" asp-action="ImportDocument">
    <input type="hidden" name="template" value="@ViewBag.Template" />
    <input type="hidden" name="signedCombinations" value="@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.SignedCombinations)" />

    @foreach (var item in (Dictionary<string, object>)ViewBag.Placeholders)
        {
    <div class="mb-3">
        <label>@item.Key</label>
        @if (item.Value is Newtonsoft.Json.Linq.JArray opcoes)
                {
        <select name="@item.Key" class="form-control">
            @foreach (var opcao in opcoes)
                        {
            <option value="@opcao">@opcao</option>
                        }
        </select>
                }
                else
                {
        <input type="text" name="@item.Key" class="form-control" />
                }
    </div>
        }

    <button type="submit" class="btn btn-primary">Assinar Documento</button>
</form>
}

@if (ViewBag.OutputJson != null)
{
    <h3>Resultado:</h3>
    <pre>@ViewBag.OutputJson</pre>
    <p>Signature exists? <strong>@(ViewBag.AssinaturaValida ? "No" : "Yes")</strong></p>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Generate.css" />
}

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<script src="~/js/site.js"></script>

