@{
    ViewData["Title"] = "Generate Keys";
}

<h2>@ViewData["Title"]</h2>
<div id="particles-js"></div>


<form method="post">
    <div>
        <label for="keySize">Private Key Size:</label>
        <select id="keySize" name="keySize">
            <option value="2048">2048 bits</option>
            <option value="3072">3072 bits</option>
            <option value="4096">4096 bits</option>
        </select>
    </div>
    <div>
        <label for="encmode">Private Key Cipher Mode</label>
        <select id="encmode" name="encmode">
            <option value="aes-256-cbc">AES-256-CBC</option>
            <option value="aes-256-ctr">AES-256-CTR</option>
        </select>
    </div>
    <div>
        <label for="pss">Password for Key Encryption</label>
        <div class="input-group">
            <input type="password" id="pss" name="pss" class="form-control" placeholder="Introduce your secure Password" required>
            <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                <i class="bi bi-eye"></i>
            </button>
        </div>
    </div>


    <button type="submit" name="keys" value="genKeys">Generate Keys</button>
    <p></p>
</form>

<div class="text-center content">
    <p><strong>If you want to create document using those keys</strong></p>

    <p class="mt-4">
        <a class="btn btn-warning btn-lg" href="/CreateDocument"> Create Document</a>
    </p>
</div>


@if (TempData["Error"] != null)
{
<div style="color: red;">@TempData["Error"]</div>
}

@if (TempData["Success"] != null)
{
<div style="color: green;">@TempData["Success"]</div>
}

@if (ViewBag.PublicKey != null && ViewBag.PrivateKey != null)
{
<h3>Chaves Geradas:</h3>
<h4>Chave Pública:</h4>
<pre>@ViewBag.PublicKey</pre>
<h4>Chave Privada:</h4>
<pre>@ViewBag.PrivateKey</pre>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Generate.css" />
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="~/js/site.js"></script>
}
